{{#if info}}
    

<div class="fade-msg msg-info ">

  
        {{info}} 
        <div class="cross">&#x2715</div>
 

</div>
<script>
    //  const cross =document.querySelector('.cross')
   //     cross.addEventListener('click',(e)=>{
   //    cross.parentElement.classList.toggle('fade')
   // })
</script>
{{/if}}