@font-face {
  font-family: "Iranian Sans";
  src: url("/font/A-Iranian-Sans/Iranian\ Sans.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Iranian Sans", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font);
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 960px;
  height: 550px;
  background: var(--color-tertiary);
  position: relative;
}

.container .header,
.container .footer {
  content: "";
  width: 100%;
  height: 80px;
  background: rgb(59, 69, 116);
  background: linear-gradient(
    -135deg,
    var(--color-primary-dark) 53%,
    var(--color-primary) 100%
  );
  position: absolute;
  left: 0;
  padding: 35px;
}

.container .header {
  top: -50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .footer {
  bottom: -50px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-button {
  color: #d7dde8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.nav-button a {
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-secondary);

  justify-content: center;
  align-items: center;
  display: none;
}

.nav-button a.active {
  display: flex;
}
.nav-button #openList {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 35px;
  max-width: 0px;
  font-size: 80%;
  transition: max-width 1s ease-out;
  overflow: hidden;
}
.nav-button #openList p {
  word-wrap: normal;
}

input[type="checkbox"]:checked + #openList {
  max-width: 350px;
}

.rtl {
  direction: rtl;
}

/*  */
/* main page */
/*  */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  padding: 35px;
}

.content-img {
  width: 500px;
  height: 400px;
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 20px var(--color-primary);
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .content-body {
  flex: 1;
}
.content .content-body h1 {
  font-family: fantasy;
  color: #7172a6;
  text-shadow: 2px 2px var(--color-primary-transparent);
  margin-bottom: 15px;
}
.content .content-body p {
  width: 85%;
  font-size: 85%;
  text-align: justify;
}

/*  */
/* product page */
/*  */

.content-btn {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.content-btn input {
  display: none;
}
.content-btn label {
  transition: all 0.3s;
}
.content-btn input:checked + label {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 7px 25px;
  border-radius: 10px;
}
