<section class="error-page">

  <div class="container">
    <h1>404</h1>
    <div>
      <p>با عرض پوزش، صفحه ای که دنبالش هستید پیدا نشد</p>
      <a href="/" class="btn btn-primary light">
        بازگشت به صفحه ی اصلی
      </a>
    </div>
  </div>

</section>